<p><b><span style="color: red">Esto es un recordatorio!!!</span></b></p>
<p>Tareas Operativas del día de mañana:</p>
    <table style="font-size: 18px; border-radius: 6px;" border="1">
        <thead style="background-color:#157fcc; box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; border-top: none; text-shadow: 0 1px 0 rgba(255,255,255,.5);">
        <tr>
            <th rowspan="2" width="100">Número</th>
            <th rowspan="2" width="700">&nbsp;&nbsp;Descripción&nbsp;&nbsp;</th>
            <th colspan="2" width="200">Fecha</th>
            <th rowspan="2" width="120">&nbsp;&nbsp;Pasada <br>&nbsp;&nbsp;de Tiempo&nbsp;&nbsp;</th>
        </tr>
        <tr><th>Inicio</th><th>Final</th></tr>
        </thead>
        <tbody style="font-size: 16px; text-align: left;">
        {% for tarea in tareas %}
            {% if tarea.nota != '-' %}
                <tr style="background-color:rgba(255,135,107,0.63);  box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; border-top: none; text-shadow: 0 1px 0 rgba(255,255,255,.5); color: #000000 ">
                    <td width="100">&nbsp;&nbsp;{{ tarea.numero }}&nbsp;&nbsp;</td>
                    <td width="700">&nbsp;&nbsp;{{ tarea.descripcion }}&nbsp;&nbsp;</td>
                    <td width="100">&nbsp;&nbsp;{{ tarea.inicio }}&nbsp;&nbsp;</td>
                    <td width="100">&nbsp;&nbsp;{{ tarea.final }}&nbsp;&nbsp;</td>
                    <td width="120">&nbsp;&nbsp;{{ tarea.nota }}&nbsp;&nbsp;</td>
                </tr>
            {% else %}
                <tr>
                    <td width="100">&nbsp;&nbsp;{{ tarea.numero }}&nbsp;&nbsp;</td>
                    <td width="700">&nbsp;&nbsp;{{ tarea.descripcion }}&nbsp;&nbsp;</td>
                    <td width="100">&nbsp;&nbsp;{{ tarea.inicio }}&nbsp;&nbsp;</td>
                    <td width="100">&nbsp;&nbsp;{{ tarea.final }}&nbsp;&nbsp;</td>
                    <td width="120">&nbsp;&nbsp;{{ tarea.nota }}&nbsp;&nbsp;</td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
<br>
<p><span style="color: #b5b8c8">Notificación enviada desde: <b>Tareas Operativas ETECSA <=> </b>
<a href="http://www.tareaop.etecsa.cu">http://www.tareaop.etecsa.cu</a></span></p>