<link rel="shortcut icon" href="" />

<title>Login</title>

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "js/ext-6.5.2/theme-triton/theme-triton-all.css" %}" />
<link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="{% static "js/ext-6.5.2/ext-all-debug.js" %}"></script>
<script type="text/javascript" src="{% static "js/ext-6.5.2/theme-triton/theme-triton-debug.js" %}"></script>
<script type="text/javascript" src="{% static "js/ext-6.5.2/locale-es.js" %}"></script>

<script type="text/javascript">
    Ext.namespace('Me', 'Me.msg');
    Me.show_toast = function(msg){Ext.toast({html:msg,closable:false,align:'t',slideInDuration:400,minWidth:208});};
    Me.msg.question = function(message){Ext.Msg.show({title:'Atención !!!',message:message,buttons:Ext.MessageBox.OK,icon:Ext.Msg.QUESTION});};
    Me.msg.error = function(message){Ext.Msg.show({title:'Error ???',message:message,buttons:Ext.MessageBox.OK,icon:Ext.Msg.ERROR});};
    Me.msg.warning = function(message){Ext.Msg.show({title:'Advertencia',message:message,buttons:Ext.MessageBox.OK,icon:Ext.Msg.WARNING});};
    Ext.application({
        name: 'etecsa',
        appFolder: '/static',
        controllers: [
            'login',
        ],
        launch: function() {
            Ext.create('etecsa.view.login');
        }
    });
</script>
